:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-color: #f2f2f2;
  --border-color: #000000;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-color: #1e1e1e;
  --border-color: #ffffff;
}


* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

p {
  text-align: center;
  margin-bottom: 10px;
}

.filtros {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.filter-btn {
  flex: 1;
  padding: 6px;
  background: #e0e0e0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.filter-btn.active {
  background: #007bff;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#addBtn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addBtn:hover {
  background: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: var(--card-color);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
  color: #888;
  transition: color 0.3s ease;
}


li button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 6px;
  line-height: 1;
}

li button:hover {
  color: red;
}

.filter-btn {
  padding: 6px 12px;
  margin-right: 6px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
}

.filter-btn.active {
  background: #000;
  color: #fff;
}

#emptyMessage {
  color: #666;
  font-style: italic;
}

li {
  opacity: 0;
  transform: translateY(-5px);
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.removing {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease;
}
