:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --card-color: #f2f2f2;
  --border-color: #000000;
  --primary-color: #007bff;
  --primary-text: #ffffff;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-color: #1e1e1e;
  --border-color: #ffffff;
  --primary-color: #3399ff;
  --primary-text: #ffffff;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, color 0.3s;
}

.container {
  background: var(--card-color);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

p {
  text-align: center;
  margin-bottom: 10px;
}

.filtros {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.filter-btn {
  flex: 1;
  padding: 6px 12px;
  border: 1px solid var(--border-color);
  background: var(--bg-color);
  color: var(--text-color);
  cursor: pointer;
  border-radius: 4px;
}

.filter-btn.active {
  background: var(--primary-color);
  color: var(--primary-text);
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

#addBtn {
  width: 100%;
  padding: 10px;
  background: var(--primary-color);
  color: var(--primary-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addBtn:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

li {
  background: var(--card-color);
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 5px;
  cursor: pointer;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s ease;
}

li.completed {
  text-decoration: line-through;
  color: #888;
}

li.enter {
  opacity: 0;
  transform: translateX(-20px); /* entra da esquerda */
}

.removing {
  opacity: 0;
  transform: translateX(100%); /* sai para a direita */
}

li button {
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 4px 6px;
}

li button:hover {
  color: red;
}

#emptyMessage {
  color: #666;
  font-style: italic;
  text-align: center;
}
